.App {
  width: 60%;
  height: 600px;
  border: 1px solid black;
  margin: 50px auto;
  text-align: center;
  background-color: #1c5cac;
}
.topBorderMain {
  width: 100%;
}
.middleMenu {
  display: flex;
  justify-content: center;
  margin: 70px auto;
}
.startupButtons {
  width: 95px;
}
.middleButtons {
  width: 44%;
}

.lastButtons {
  width: 193px;
}
.LogSetting {
  border-radius: 10px;
}
